<template name="LayoutSidebar">
    {{#ionBody}}
        {{#ionSideMenuContainer side="left"}}

            {{#ionSideMenus}}

                {{#ionSideMenu}}
                    <div class="bar bar-header bar-balanced">
                        <img src="{{user.avatarUrl}}">
                        {{user.name.first}} {{user.name.last}}
                    </div>
                    <div class="content has-header">
                        <div class="list">
                            <a class="item item-icon-left" data-action="home" data-ion-menu-close>
                                {{> ionIcon icon="home"}} Home
                            </a>
                            <a class="item item-icon-left" data-action="profile" data-ion-menu-close>
                                {{> ionIcon icon="man"}} Profile
                            </a>
                            <a class="item item-icon-left" data-action="history" data-ion-menu-close>
                                {{> ionIcon icon="clock"}} History
                            </a>
                            <a class="item item-icon-left" data-action="deals" data-ion-menu-close>
                                {{> ionIcon icon="icecream"}} Deals
                            </a>
                            <a class="item item-icon-left" data-action="help" data-ion-menu-close>
                                {{> ionIcon icon="help"}} Help
                            </a>
                            <a class="item item-icon-left" data-action="about-us" data-ion-menu-close>
                                {{> ionIcon icon="android-car"}} About Us
                            </a>
                            <a class="item item-icon-left" href="#" data-action="sign-out" data-ion-menu-close>
                                {{> ionIcon icon="ios-locked"}}
                                Sign Out
                            </a>
                        </div>
                    </div>
                {{/ionSideMenu}}

            {{/ionSideMenus}}

            {{#ionSideMenuContent}}

                {{> ionNavBar class="bar-calm"}}

                {{#ionNavView}}
                    {{> yield}}
                {{/ionNavView}}

            {{/ionSideMenuContent}}

        {{/ionSideMenuContainer}}

    {{/ionBody}}
</template>