$positive: #DE4F4F;
$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/_ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/_ionicons';

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.ion-slide {
  text-align: center;
  padding-top: 200px;

  &.dark-bg {
    h3 {
      color: #fff;
    }
  }
}

.popover {
  height: auto;
}

.item-button-left, .item-button-right {
  button {
    top: 16px !important;
  }
}

.profile-header {
  background: #27272B url("/images/nodes.png") center center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 24px;

  .avatar {
    margin: 0 auto;
  }

  h3, p {
    color: #fff;
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-decoration: none;

    img {
      vertical-align: middle;
    }
  }
}

.avatar {
  .avatar-image {
    border: 2px solid #fff;
  }

  .avatar-initials {
    border: 2px solid #fff;
    background: $positive;
    color: #fff;
  }
}
